In [1]:
#question1, Scrape data for Data Analyst position in Bangalore

In [47]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\ricky riddhi\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: cffi>=1.14 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: outcome in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\users\ricky riddhi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\ricky riddhi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ricky riddhi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [48]:
#Import all libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [49]:
driver = webdriver.Chrome(r'C:\Users\Ricky Riddhi\Downloads\chromedriver_win32\chromedriver.exe')

In [50]:
driver = webdriver.Chrome('chromedriver.exe')

In [51]:
#Get webpage Naukri.com
url = 'https://www.naukri.com/'
driver.get(url)

In [52]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [53]:
#Finding web element for search job bar using id for Data Analyst Position
search_job.send_keys("Data Analyst")

In [54]:
#find location as Bangalore
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [55]:
search_locn.send_keys("Bangalore")

In [56]:
submit = driver.find_element_by_class_name("qsbSubmit")
submit

In [57]:
submit.click()

In [58]:
title =  driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"] ')
len(title)
title[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="3c5e58d6-1937-4a81-9e37-769c9ea987f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="34e7b632-0cff-4b1e-ba4e-d455c70dd5b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="04f80a2e-249f-46f4-9526-5fc4690d4d5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="afa47324-591f-4928-a3b7-a99876c89325")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="9000947c-ae61-428d-ab56-2e0bfc871fc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="15c0998c-ceb4-4a37-8b5a-74bc0b86e5bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="b6dfe528-0101-4210-9d8a-266f27283039")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="99ba190d-f0ac-48b6-9746-d6354ac0facb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="03e5603a-30c1-4cd4-aac1-540290c291a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="4ba29a3f-e07e-4dfe-b825-61bd094ec4a4")>]

In [59]:
job_titles = []

for i in title:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Hiring For Data Analyst I(SQL & Python)',
 'Data Analyst - 3rd Party Payroll',
 'Data Analyst I',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Looking For Data Analyst - Remote Support',
 'Job openings For Data Analyst - AOA',
 'Senior Data Analyst - Ads & Promotion Platform (APP)']

In [88]:
len(job_titles)

20

In [63]:
company =  driver.find_elements_by_xpath('//div[@class="mt-7 companyInfo subheading lh16"] ')
len(company)
company[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="37c37988-199d-45e6-b52f-de8a55a99ab4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="bfb1a2b2-657e-48d6-a1a3-dc49b904c648")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="aef1d0c9-ce3d-4b30-98a0-b70d85e65962")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="fa5564c4-43b7-4c4f-9b18-1862abea64ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="ee9c6548-b468-4979-87c3-6335e2902f56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="65152c50-e332-4df4-9121-b773b9a3f2e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="2a886dd5-408c-4c26-9aef-90f5b872d210")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="b8bbfeac-11a6-4616-86a8-f5be80ce9657")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="62040ff7-3d61-4370-a8d5-0a3cee6aff1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="839e0230-f9bc-45be-9440-82fe4a7cff5f")>]

In [89]:
company_name = []

for i in company:
    company_name.append(i.text)
len(company_name)
company_name[0:10]

['Clario India Pvt Ltd',
 'Flipkart\n4.1\n(7924 Reviews)',
 'Cerner\n3.9\n(566 Reviews)',
 'Flipkart\n4.1\n(7924 Reviews)',
 'Flipkart\n4.1\n(7924 Reviews)',
 'Flipkart\n4.1\n(7924 Reviews)',
 'Flipkart\n4.1\n(7924 Reviews)',
 'Locuz Enterprise Solutions Ltd\n4.0\n(74 Reviews)',
 'izmo ltd\n3.4\n(50 Reviews)',
 'Gojek\n4.4\n(10 Reviews)']

In [143]:
experience =  driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="3af3021b-2c1b-4305-a3dc-64e3ee338656")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="bd989af2-0593-4d0c-a456-7182b76c35ea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="0e9bfa04-6c16-42ae-b50a-828f2d541069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="a9df957a-6dad-4c44-8729-496c0623647b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="2a40096e-c7e4-4b0f-997a-493e3cd80c60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="77a7f1c3-e246-44d6-ac9a-d6f8208f8ee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="8b12883c-2038-4c73-b6ea-81b50f6deada")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="8c14dbbd-e1ea-4a95-944e-3008b0f9d51d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="9f0b996d-6097-42e9-9a1c-edfd01529205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="866e4425-b78d-4164-ad01-e310ed25fbf0")>]

In [144]:
len(experience)

19

In [114]:
exp_detail = []

for i in experience:
    exp_detail.append(i.text)
len(exp_detail)
exp_detail[0:10]

['0-2 Yrs',
 '2-4 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '5-10 Yrs',
 '2-3 Yrs',
 '3-8 Yrs']

In [145]:
location =  driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location)
location[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="bf0a83b3-e752-42a3-beb9-aeec2488f744")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="b29081a0-3ab2-4c50-8d7e-0074ad33d892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="0173f4f0-2ddc-4539-9685-095d5bbd8531")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="afd7cbfe-105a-42d1-b3b4-0d85e95493fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="da959149-523a-47a5-90f4-6a5f3a030db4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="2aef07a4-4811-40d8-9326-a3a4c7976619")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="ffd75f17-e806-484a-9507-dbb516ae6498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="d70a1752-a5a0-44bd-bf57-4a0015774863")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="483e63ab-a249-4d59-82c8-030ab0b98add")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="ca7ee0a2-7ff6-4f9d-bd5d-2318c512057a")>]

In [146]:
loc_detail = []

for i in location:
    loc_detail.append(i.text)
len(loc_detail)
loc_detail[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(4th Phase JP Nagar)',
 'Bangalore/Bengaluru']

In [117]:
len(loc_detail)

20

In [98]:
import numpy as np

In [316]:
#job list
jobs=pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] = company_name
jobs['Experience'] =exp_detail
jobs['Location'] = loc_detail
jobs.set_index('Job Title',inplace=True)
jobs[0:10]

ValueError: Length of values (19) does not match length of index (20)

In [142]:
#Question 2- scrape data for Data Scientist position in Bangalore

In [5]:
#Import all libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [6]:
driver = webdriver.Chrome(r'C:\Users\Ricky Riddhi\Downloads\chromedriver_win32\chromedriver.exe')

In [151]:
#Get webpage Naukri.com
url = 'https://www.naukri.com/'
driver.get(url)

In [152]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [153]:
#Finding web element for search job bar using id for Data Analyst Position
search_job.send_keys("Data Scientist")

In [154]:
#find location as Bangalore
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [155]:
search_location.send_keys("Bangalore")

In [156]:
submit = driver.find_element_by_class_name("qsbSubmit")
submit

In [157]:
submit.click()

In [19]:
title_nm =  driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_nm)
title_nm[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="7a658f3f-2fbe-4465-bdeb-682007f56418")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="50d7ab20-67ea-4303-9bf8-827d8b05b165")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="4364aeee-f9cf-4cc7-bfc8-abd1155eaeae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="7dc43c2b-40e8-4a7f-9d6a-ac67f39cd296")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="f02f1f8f-84a0-46c3-bd43-c12ef06f4a34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="d872f7ce-ca79-4344-8864-4e9b784bb4f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="2a8f012d-39a2-4be2-a450-5c61cd81290b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="cc75d27f-a462-46b4-a3a5-4a173ac1f914")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="21b69021-6399-4723-9b35-2a52e2ac0c22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="e283adf7-b0a3-429d-9d6e-ad8796b932dd")>]

In [158]:
jobtitle = []

for i in title_nm:
    jobtitle.append(i.text)
len(jobtitle)
jobtitle[0:10]

['Data Scientist III',
 'Sr Data Scientist',
 'Data Scientist/Senior Data Scientist - Python',
 'HCL Tech Opening - Lead Data Scientist',
 'Sr . Data Scientist',
 'Need Data scientists and data engineers - WFH- less than 30days notice',
 'Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [159]:
company_nm =  driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_nm)
company_nm[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="b2ca83c7-2cf2-4e6c-bb38-06c06e8c765f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="47c74e95-717b-4cc7-9aca-4d3da38cb7ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="c9bc6131-5571-41da-a49c-2dc04cdcdbcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="54c0fef7-84e1-43b0-80a1-e61e4236f2e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="72fdf4f3-21c0-4e1c-8e16-fcf8251460e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="9060d335-4af0-40ef-90cf-cc757bef1fdd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="fecba8f5-f780-4330-a0f6-780815d39371")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="fd21c6bb-fe1a-41cc-9a60-e999251b8353")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="8c938fb9-65f5-4382-9124-cb45cce6ec76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1b9b07c2f7fb88c472a0ebf921951bbb", element="68ffb133-e6d3-4c94-ab13-0279e096808b")>]

In [160]:
companydetail = []

for i in company_nm:
    companydetail.append(i.text)
len(companydetail)
companydetail[0:10]

['Groupon',
 'Uber',
 'ApicalGo Consultancy',
 'HCL',
 'Visa',
 'Covalense Technologies Private Limited',
 'EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED',
 'Mobile Premier League',
 'Shell',
 'HDFC Bank']

In [26]:
exp_det =  driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_det[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="6866836d-1ecf-445c-ab13-9c895df5b6ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="3337369c-38b1-4af4-87d4-8fa89a7ef54d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="0d101615-c02f-494e-8c3a-77aace005ef9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="7f5db6b9-ee14-430e-8cdc-ef44dd6d327f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="1b5737d4-33d4-4286-8ef2-7b6732235db8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="d9ec556b-e723-40cb-b80f-06d021484f3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="d04046ff-497e-4874-b13e-259ba7dc397f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="3571324e-4d58-460a-8834-cbdc6940c063")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="892f2a37-7312-46fc-9080-be092170560c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="704fb6dd-e52b-40fe-9881-f81322b21845")>]

In [161]:
expdetail = []

for i in exp_det:
    expdetail.append(i.text)
len(expdetail)
expdetail[0:10]

['6-11 Yrs',
 '6-12 Yrs',
 '3-8 Yrs',
 '10-20 Yrs',
 '6-8 Yrs',
 '8-13 Yrs',
 '8-12 Yrs',
 '4-9 Yrs',
 '1-6 Yrs',
 '5-10 Yrs']

In [31]:
loc_dt = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
loc_dt[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="151b0e59-e336-44d9-9b53-7c5ff312dc1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="05627ed5-2073-4b56-ab08-a0dd168b526a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="57a1ec75-6c23-4f42-bd68-2504cca71b0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="17891564-93cf-4f5a-ab50-b7a51234a9cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="63f3e95a-2469-41be-a662-68036b38aad4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="e7449e6c-8510-4e39-9bd5-a9515bfa01e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="993acedc-ceb2-4342-8229-ba17422009ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="7d1d2262-c972-4d33-b58d-c9ab68c83efb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="8b806359-e764-433b-b60b-ed9d34e402c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ec6bec6dea330a80df88cd9ca4855187", element="daf2a690-d79e-47a7-8dc9-93fedd6dfb9c")>]

In [162]:
locdetail = []

for i in loc_dt:
    locdetail.append(i.text)
len(locdetail)
locdetail[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru']

In [317]:
#job list
df=pd.DataFrame()
df['Job Title'] = jobtitle
df['Company'] = companydetail
df['Experience'] =expdetail
df['Location'] = locdetail
df.set_index('Job Title',inplace=True)
df[0:10]

,Company,Experience,Location
Job Title,,,
Data Scientist III,Groupon,6-11 Yrs,Bangalore/Bengaluru
Sr Data Scientist,Uber,6-12 Yrs,Bangalore/Bengaluru
Data Scientist/Senior Data Scientist - Python,ApicalGo Consultancy,3-8 Yrs,Bangalore/Bengaluru
HCL Tech Opening - Lead Data Scientist,HCL,10-20 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
Sr . Data Scientist,Visa,6-8 Yrs,Bangalore/Bengaluru
Need Data scientists and data engineers - WFH- less than 30days notice,Covalense Technologies Private Limited,8-13 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M..."
Principal Data Scientist,EVOLVE TECHNOLOGIES AND SERVICES PRIVATE LIMITED,8-12 Yrs,Bangalore/Bengaluru
Data Scientist,Mobile Premier League,4-9 Yrs,Bangalore/Bengaluru
Data Scientist,Shell,1-6 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."
Data Scientist,HDFC Bank,5-10 Yrs,Bangalore/Bengaluru

In [164]:
#Question 3- scrape data for Data Scientist for Delhi Location in salary 3-6 lakhsabs

In [165]:
#Import all libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [221]:
driver = webdriver.Chrome(r'C:\Users\Ricky Riddhi\Downloads\chromedriver_win32\chromedriver.exe')

In [222]:
#Get webpage Naukri.com
url = 'https://www.naukri.com/'
driver.get(url)

In [223]:
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [224]:
#Finding web element for search job bar using id for Data Analyst Position
search_job.send_keys("Data Scientist")

In [225]:
#find location as Delhi
search_location = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_location

In [226]:
search_location.send_keys("Delhi")

In [227]:
submit = driver.find_element_by_class_name("qsbSubmit")
submit

In [228]:
submit.click()

In [257]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[2]/label/i')

In [258]:
salary_check.click()

In [260]:
title_name =  driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_name)
title_name[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="b5ff4ef5-5e48-4d7b-8584-79beed7d6fe1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="1c393ce3-404e-43ce-be97-2821cad5582b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="5834e846-3a8c-4518-869d-5f6b29e0cb4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="3f42c278-37d6-49b4-82ff-6998405fd2e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="10c07407-79cc-4983-bf01-684a00a3127b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="d1ea8361-cd6b-4f21-8687-1be770fdd56e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="c9b11e9f-9238-47d3-8400-b4044f85ee88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="4116bd21-f1f5-44a7-8335-e0b5caa1e535")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="a3618e8f-0954-4f93-b83d-6da652b32282")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="a2d9868d-d33d-44ae-850f-81b7cdd37b8b")>]

In [261]:
titlename = []

for i in title_name:
    titlename.append(i.text)
len(titlename)
titlename[0:10]

['Hiring For Senior Data Scientist-Noida',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data scientist- Python',
 'Data Scientist _NLP',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist (freelance)',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs',
 'Hiring For Data Scientist- Gurgaon/ Noida']

In [263]:
company_name =  driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_name)
company_name[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="c5790680-e6d1-4769-a456-0ab736b35ce1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="6f91a9b4-fae4-46d0-be8b-521edbbeb8bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="5d7a8de5-e2ba-40fd-be11-592e9031f91e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="1554b7bd-6d58-48b2-a7de-a9da8f192914")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="041a431d-61b9-49e8-9ac6-01fcf2cfb0e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="8fe7da38-0113-4d8d-894f-f41af5150126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="8ce77565-b736-4c39-b7cd-c679ee9863ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="2d0d5ec2-365c-4924-937e-3baad667ee82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="873124cf-f8ab-4f08-9cfb-9d5a4f5d689a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="8ddd4830-6335-4065-aa88-56fe0948250c")>]

In [264]:
companyname = []

for i in company_name:
    companyname.append(i.text)
len(companyname)
companyname[0:10]

['Lumiq.ai',
 'NTT Data',
 'GABA Consultancy services',
 'TeamPlus Staffing Solution Pvt Ltd',
 'EXL',
 'Mount Talent Consulting Private Limited',
 'Indihire HR Consultants Private Limited',
 '2Coms',
 'GABA Consultancy services',
 'Mascot e-services']

In [265]:
expd =  driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(expd)
expd[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="ff5194e0-6ad5-4123-88fa-65b3b642ca9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="aba05b71-3f05-483b-bff8-1fdd3dc266a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="7b0a0016-31ff-4068-906d-7777caa7638a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="bd790c34-85b2-47cc-b4cd-d8216d29ad62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="eac26540-f1d2-4a71-a532-621e08bed473")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="f27f1fd6-9398-405b-a19b-f3ec3421cda3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="b7275b23-c6b4-416e-bf34-86510a800d4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="f526997c-968b-44aa-88fe-3ec2a667b573")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="e706d47b-b229-4ba2-9e22-5d8b4dca9a9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="86852d65-3028-4e0b-8b73-781d893e7b79")>]

In [266]:
expname = []

for i in expd:
    expname.append(i.text)
len(expname)
expname[0:10]

['2-6 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-4 Yrs',
 '2-7 Yrs',
 '0-0 Yrs',
 '2-4 Yrs']

In [267]:
locd =  driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locd)
locd[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="83362104-8a9d-483e-8430-d4ccb0985af5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="2cfcc45e-2823-4110-8309-f495c9efa8a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="faf06e15-a840-4452-920d-0e9cf50fa7ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="9f5da6aa-28da-4be1-924a-6afdfdb9a318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="fccc4458-dceb-4e18-ace1-3b86565a4190")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="37a40cea-b630-4c3f-92b3-ddbdb9af8229")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="4f0740b5-2be2-44ef-bfa6-61ca1bf833f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="75c0e448-21d4-4eca-8312-18fa72d2aca7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="0ce92a00-70fa-41ca-9810-ddee0fa784b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a881949c0b3b4693696edd7ffcf3b6d7", element="a94aa48d-4818-4809-aae2-d8f0e74d8753")>]

In [268]:
locname = []

for i in locd:
    locname.append(i.text)
len(locname)
locname[0:10]

['Noida, New Delhi, Greater Noida',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi / NCR\n(WFH during Covid)',
 'New Delhi, Delhi',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram']

In [313]:
#job list
sd=pd.DataFrame()
sd['Job Title'] = titlename
sd['Company'] = companyname
sd['Experience'] =expname
sd['Location'] = locname
sd

,Job Title,Company,Experience,Location
0,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, New Delhi, Greater Noida"
1,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
2,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
3,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
4,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ..."
5,Data Scientist,Mount Talent Consulting Private Limited,1-4 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
6,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)
7,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
8,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
9,Hiring For Data Scientist- Gurgaon/ Noida,Mascot e-services,2-4 Yrs,"Noida, Gurgaon/Gurugram"
10,Urgent Requirement || Data Scientist || Noida,HCL,3-8 Yrs,"Noida, Delhi / NCR"
11,Senior Data Scientist,iNICU,1-5 Yrs,Delhi
12,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
13,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi
14,Data Scientist,Stefanini,3-8 Yrs,Noida
15,Lead Data Scientist - KYC/Fraud/Marketing,Tide Software,1-6 Yrs,New Delhi
16,Open Project | IT Consulting | Data Scientist,Virtuoso Staffing Solutions Pvt Ltd,5-10 Yrs,"Noida, New Delhi, Bangalore Rural, Bangalore/B..."
17,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
18,Data Scientist,Country Veggie,1-3 Yrs,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."
19,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,2-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."

In [314]:
#scrape 10 rows
sd.set_index('Job Title',inplace=True)
sd[0:10]

,Company,Experience,Location
Job Title,,,
Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, New Delhi, Greater Noida"
"Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
Data Analyst / Data Scientist / Business Analytics / Fresher - MNC,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs,Gurgaon/Gurugram
Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ..."
Data Scientist,Mount Talent Consulting Private Limited,1-4 Yrs,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram..."
Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)
Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
Hiring For Data Scientist- Gurgaon/ Noida,Mascot e-services,2-4 Yrs,"Noida, Gurgaon/Gurugram"

In [270]:
#Q4, Scrape date of 100 sunglasses listing on flipkart

In [415]:
#Import all libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [433]:
driver = webdriver.Chrome(r'C:\Users\Ricky Riddhi\Downloads\chromedriver_win32\chromedriver.exe')

In [434]:
#Get webpage Flipkart.com
url = 'https://www.flipkart.com/'
driver.get(url)

In [437]:
search_product = driver.find_element_by_class_name("_3704LK")

In [438]:
#Finding web element for searching sunglasses
search_product.send_keys("sunglasses")

In [439]:
subm=driver.find_element_by_class_name("L0Z3Pu")
subm

In [440]:
subm.click()

In [441]:
brand =  driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand)
brand[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="e3a7318e-b011-4c58-ae54-d1b1a51a992f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="bc23201d-be04-4373-b555-66a5a66d968e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="f47cb124-fd3a-4566-90fc-dd751b46d88d")>]

In [442]:
brandname = []

for i in brand:
    brandname.append(i.text)
len(brandname)
brandname[0:5]

['Tag Eye', 'VINCENT CHASE', 'SRPM', 'SUNBEE', 'ROZZETTA CRAFT']

In [443]:
desc= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(desc)
desc[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="b644b8b9-7cea-470c-ad5e-08c763c58333")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="43665460-c568-4f8f-89f1-fe5ce4299b40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="8dce5e92-8a24-4599-a5a6-55a707b414dc")>]

In [444]:
descd = []

for i in desc:
    descd.append(i.text)
len(descd)
descd[0:5]

['UV Protection Rectangular Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...']

In [445]:
price= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)
price[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="db1cc4a7-51fb-470c-830e-0494f76e9526")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="e8214176-d16c-4d8e-abcc-22aa2137a520")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4d9c396c970d42e99ad58086b06fa471", element="425ad1e9-6f85-4e93-86b5-cbfa6c67dfd8")>]

In [446]:
price_dt = []

for i in price:
    price_dt.append(i.text)
len(price_dt)
price_dt[0:5]

['850', '949', '198', '253', '474']

In [447]:
data = list(zip(brandname,descd,price_dt))

In [448]:
#sunglasses list
sg=pd.DataFrame(data,columns=['Brands','Description','Price'])

In [450]:
next=driver.find_element_by_class_name("_1LKTO3")
next

In [458]:
next.click()

In [459]:
brand1=[]
desc1=[]
price1=[]

In [460]:
a=  driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
b= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
c= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [461]:
#brand1
for i in a:
    brandname=i.text
    brand1.append(brandname)
#desc1
for i in b:
    desc=i.text
    desc1.append(descd)
#price1
for i in c:
    price_dt=i.text
    price1.append(price_dt)

In [462]:
data1=list(zip(brand1,desc1,price1))

In [463]:
sg1 = pd.DataFrame(data1,columns=['Brands','Description','Price'])
#sg1

In [493]:
next1= driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[3]')
next1

In [494]:
next1.click()

In [495]:
brand2=[]
desc2=[]
price2=[]

In [496]:
d=  driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
e= driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
f= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [497]:
#brand2
for i in d:
    brandname=i.text
    brand2.append(brandname)
#desc2
for i in e:
    desc=i.text
    desc2.append(descd)
#price2
for i in f:
    price_dt=i.text
    price2.append(price_dt)

In [498]:
data2=list(zip(brand2,desc2,price2))

In [499]:
sg2=pd.DataFrame(sg2,columns=['Brands','Description','Price'])

In [500]:
final=pd.concat([sg,sg1,sg2], axis=0)

In [501]:
final.set_index('Brands',inplace=True)

In [403]:
final[0:100]

,Brands,Description,Price
0,V,"by Lenskart Polarized, UV Protection Round Sun...",
1,I,"by Lenskart Polarized, UV Protection Aviator S...",9
2,N,UV Protection Wayfarer Sunglasses (50),9
3,C,"UV Protection, Polarized Wayfarer Sunglasses (...",9
0,SHAAH COLLECTIONS,"[by Lenskart Polarized, UV Protection Round Su...",181
...,...,...,...
32,PIRASO,"[by Lenskart Polarized, UV Protection Round Su...",225
33,GANSTA,"[by Lenskart Polarized, UV Protection Round Su...",284
34,ROYAL SON,"[by Lenskart Polarized, UV Protection Round Su...",379
35,LOUIS KOUROS,"[by Lenskart Polarized, UV Protection Round Su...","1,349"
36,Fastrack,"[by Lenskart Polarized, UV Protection Round Su...",639

In [502]:
#question 5- Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. As shown in the above page you have to scrape the tick marked attributes. These are:

In [503]:
#Import all libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [523]:
driver = webdriver.Chrome(r'C:\Users\Ricky Riddhi\Downloads\chromedriver_win32\chromedriver.exe')

In [524]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGi&marketplace"

In [525]:
driver.get(url)

In [526]:
all_reviews = driver.find_element_by_class_name('_3LWZlK')
all_reviews.click()

In [529]:
rating=[]
review=[]
freview=[]
freview_1=[]

r=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
rs=driver.find_elements_by_xpath('//div[@ class="t-ZTKy"]')
fr=driver.find_elements_by_xpath("//div[@class='_2-N8zT']")
fr_1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r:
    rat=i.text
    rating.append(rat)
    
for i in rs:
    rev=i.text
    review.append(rev)

for i in fr:
    full=i.text
    freview.append(full)
    
for i in fr_1:
    ful=i.text
    freview_1.append(ful)

In [530]:
freview.extend(freview_1)
#full_review

In [532]:
data=list(zip(rating,review,freview))

In [533]:
df=pd.DataFrame(data,columns=['Ratings','Review','Full_Review'])
#df

In [537]:
next = driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
next.click()

In [538]:
rating0=[]
review_summary0=[]
full_review0=[]

In [539]:
r0=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs0=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr0=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r0:
    rat=i.text
    rating0.append(rat)
    
for i in rs0:
    rev=i.text
    review_summary0.append(rev)

for i in fr0:
    full=i.text
    full_review0.append(full)

In [540]:
data1=list(zip(rating0,review_summary0,full_review0))

In [541]:
df1=pd.DataFrame(data1,columns=['Ratings','Review','Full_Review'])

In [542]:
three = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")
three.click()

In [543]:
rating1=[]
review_summary1=[]
full_review1=[]

r1=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs1=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r1:
    rat=i.text
    rating1.append(rat)
    
for i in rs1:
    rev=i.text
    review_summary1.append(rev)

for i in fr1:
    full=i.text
    full_review1.append(full)

In [544]:
data2=list(zip(rating1,review_summary1,full_review1))

In [545]:
df2=pd.DataFrame(data2,columns=['Ratings','Review','Full_Review'])

In [546]:
four = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]")
four.click()

In [547]:
rating2=[]
review_summary2=[]
full_review2=[]

r2=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs2=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr2=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r2:
    rat=i.text
    rating2.append(rat)
    
for i in rs2:
    rev=i.text
    review_summary2.append(rev)

for i in fr2:
    full=i.text
    full_review2.append(full)

In [548]:
data3=list(zip(rating2,review_summary2,full_review2))

In [549]:
df3=pd.DataFrame(data3,columns=['Ratings','Review','Full_Review'])

In [550]:
five = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[5]")
five.click()

In [551]:
rating3=[]
review_summary3=[]
full_review3=[]

r3=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs3=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr3=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r3:
    rat=i.text
    rating3.append(rat)
    
for i in rs3:
    rev=i.text
    review_summary3.append(rev)

for i in fr3:
    full=i.text
    full_review3.append(full)

In [552]:
data4=list(zip(rating3,review_summary3,full_review3))

In [553]:
df4=pd.DataFrame(data4,columns=['Ratings','Review','Full_Review'])

In [554]:
six = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[6]")
six.click()

In [555]:
rating4=[]
review_summary4=[]
full_review4=[]

r4=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs4=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr4=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r4:
    rat=i.text
    rating4.append(rat)
    
for i in rs4:
    rev=i.text
    review_summary4.append(rev)

for i in fr4:
    full=i.text
    full_review4.append(full)

In [556]:
data5=list(zip(rating4,review_summary4,full_review4))

In [557]:
df5=pd.DataFrame(data5,columns=['Ratings','Review','Full_Review'])

In [558]:
seven = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[7]")
seven.click()

In [559]:
rating5=[]
review_summary5=[]
full_review5=[]

r5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r5:
    rat=i.text
    rating5.append(rat)
    
for i in rs5:
    rev=i.text
    review_summary5.append(rev)

for i in fr5:
    full=i.text
    full_review5.append(full)

In [560]:
data6=list(zip(rating5,review_summary5,full_review5))

In [561]:
df6=pd.DataFrame(data6,columns=['Ratings','Review','Full_Review'])

In [562]:
eight = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[8]")
eight.click()

In [563]:
rating6=[]
review_summary6=[]
full_review6=[]

r6=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs6=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr6=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r6:
    rat=i.text
    rating6.append(rat)
    
for i in rs6:
    rev=i.text
    review_summary6.append(rev)

for i in fr6:
    full=i.text
    full_review6.append(full)

In [564]:
data7=list(zip(rating6,review_summary6,full_review6))

In [565]:
df7=pd.DataFrame(data7,columns=['Ratings','Review','Full_Review'])

In [566]:
nine = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[9]")
nine.click()

In [567]:
rating7=[]
review_summary7=[]
full_review7=[]

r7=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs7=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr7=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r7:
    rat=i.text
    rating7.append(rat)
    
for i in rs7:
    rev=i.text
    review_summary7.append(rev)

for i in fr7:
    full=i.text
    full_review7.append(full)

In [568]:
data8=list(zip(rating7,review_summary7,full_review7))

In [569]:
df8=pd.DataFrame(data8,columns=['Ratings','Review','Full_Review'])

In [570]:
ten = driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[10]")
ten.click()

In [571]:
rating8=[]
review_summary8=[]
full_review8=[]

r8=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rs8=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
fr8=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

for i in r8:
    rat=i.text
    rating8.append(rat)
    
for i in rs8:
    rev=i.text
    review_summary8.append(rev)

for i in fr8:
    full=i.text
    full_review8.append(full)

In [572]:
data9=list(zip(rating8,review_summary8,full_review8))

In [573]:
df9=pd.DataFrame(data9,columns=['Ratings','Review','Full_Review'])
final = pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=0)
final.set_index('Ratings').tail()

,Review,Full_Review
Ratings,,
4,Wonderful,I genuinely liked it. One of the best mobile p...
5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
4,Good quality product,"Awesome camera, smooth and fast UI, display is..."
5,Fabulous!,Good product nice experience with Flipkart but...
5,Worth every penny,Here is the thing\n\nThe only reason why you s...

In [575]:
#Question 6: Scrape data for 100 sneakers

In [736]:
#Import all libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [737]:
driver = webdriver.Chrome(r'C:\Users\Ricky Riddhi\Downloads\chromedriver_win32\chromedriver.exe')

In [738]:
#Get webpage Flipkart.com
url = 'https://www.flipkart.com/'
driver.get(url)

In [739]:
search_product = driver.find_element_by_class_name("_3704LK")

In [740]:
#Finding web element for searching sneakers
search_product.send_keys("sneakers")

In [741]:
subm=driver.find_element_by_class_name("L0Z3Pu")
subm.click()

In [742]:
brand=[]
b=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
product_description=[]
p=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
price=[]
pr=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [743]:
for i in b:
    br=i.text
    brand.append(br)

for i in p:
    pd=i.text
    product_description.append(pd)

for i in pr:
    p=i.text
    price.append(p)

In [744]:
data = list(zip(brand,product_description,price))

In [745]:
df=pd.DataFrame(data,columns=['Brand','Description','Price'])

In [746]:
two=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]").click()

In [747]:
brand1=[]
product_description1=[]
price1=[]

In [748]:
b1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [756]:
for i in b1:
    br=i.text
    brand1.append(br)

for i in p1:
    pd=i.text
    product_description1.append(pd)

for i in pr1:
    p=i.text
    price1.append(p)

In [759]:
data1 = list(zip(brand1,product_description1,price1))

In [769]:
import pandas as pd

In [783]:
df1=pd.DataFrame(data1,columns=['Brand','Description','Price'])

In [784]:
three=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[4]").click()

In [785]:
brand2=[]
product_description2=[]
price2=[]

In [786]:
b2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

In [787]:
for i in b2:
    br=i.text
    brand2.append(br)

for i in p2:
    pd=i.text
    product_description2.append(pd)

for i in pr2:
    p=i.text
    price2.append(p)

In [788]:
data2 = list(zip(brand2,product_description2,price2))

In [789]:
import pandas as pd

In [790]:
df2=pd.DataFrame(data2,columns=['Brand','Description','Price'])

In [791]:
four=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[5]").click()

In [792]:
brand3=[]
product_description3=[]
price3=[]

In [793]:
b3=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
p3=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr3=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in b3:
    br=i.text
    brand3.append(br)

for i in p3:
    pd=i.text
    product_description3.append(pd)

for i in pr3:
    p=i.text
    price3.append(p)

In [781]:
data3 = list(zip(brand3,product_description3,price3))

In [795]:
import pandas as pd

In [796]:
df3=pd.DataFrame(data3,columns=['Brand','Description','Price'])

In [797]:
import pandas as pd

In [798]:
Sneakers=pd.concat([df,df1,df2,df3],axis=0)

In [799]:
Sneakers.head()

          Brand                                        Description Price
0         AMICO                                   Sneakers For Men  449
1     BAUCHHAAR  sports shoes for men | Latest Stylish Casual s...  349
2  Robbie jones                                   Sneakers For Men  449
3      RapidBox                                   Sneakers For Men  570
4     Deals4you  High Top Casual Party Wear Boot Stylish Sneake...  349